@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

@layer base {
  .max-width {
    @apply max-w-[1440px] mx-auto;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
  
}

@layer utilities {
  /* Định nghĩa các giá trị shadow-custom */
  .shadow-custom {
    box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 
                0px 43px 26px 0px rgba(0, 0, 0, 0.05), 
                0px 77px 31px 0px rgba(0, 0, 0, 0.01), 
                0px 120px 34px 0px rgba(0, 0, 0, 0.00);
  }
}

.swiper-wrapper {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.swiper-pagination-bullet {
  width: 24px !important;
  height: 24px !important;
  cursor: pointer !important;
}

.swiper-pagination-bullet-active {
  background-color: #F85E9F !important;
}
